# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

jobs:
- job: linux
  pool:
    vmImage: ubuntu-latest
  strategy:
    matrix:
      linux_64_centos_machineaarch64channel_targetsconda-forge_maincross_target_platformlinux-aarch64target_machineaarch64:
        CONFIG: linux_64_centos_machineaarch64channel_targetsconda-forge_maincross_target_platformlinux-aarch64target_machineaarch64
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-x86_64:alma9
      ? linux_64_centos_machineaarch64channel_targetsconda-forge_sysroot-with-cryptcross_target_platformlinux-aarch64target_machineaarch64
      : CONFIG: linux_64_centos_machineaarch64channel_targetsconda-forge_sysroot-with-cryptcross_target_platformlinux-aarch64target_machineaarch64
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-x86_64:alma9
      linux_64_centos_machineppc64lechannel_targetsconda-forge_maincross_target_platformlinux-ppc64letarget_machinepowerpc64le:
        CONFIG: linux_64_centos_machineppc64lechannel_targetsconda-forge_maincross_target_platformlinux-ppc64letarget_machinepowerpc64le
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-x86_64:alma9
      ? linux_64_centos_machineppc64lechannel_targetsconda-forge_sysroot-with-cryptcross_target_platformlinux-ppc64letarget_machinepowerpc64le
      : CONFIG: linux_64_centos_machineppc64lechannel_targetsconda-forge_sysroot-with-cryptcross_target_platformlinux-ppc64letarget_machinepowerpc64le
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-x86_64:alma9
      linux_64_centos_machines390xchannel_targetsconda-forge_maincross_target_platformlinux-s390xtarget_machines390x:
        CONFIG: linux_64_centos_machines390xchannel_targetsconda-forge_maincross_target_platformlinux-s390xtarget_machines390x
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-x86_64:alma9
      ? linux_64_centos_machines390xchannel_targetsconda-forge_sysroot-with-cryptcross_target_platformlinux-s390xtarget_machines390x
      : CONFIG: linux_64_centos_machines390xchannel_targetsconda-forge_sysroot-with-cryptcross_target_platformlinux-s390xtarget_machines390x
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-x86_64:alma9
      linux_64_centos_machinex86_64channel_targetsconda-forge_maincross_target_platformlinux-64target_machinex86_64:
        CONFIG: linux_64_centos_machinex86_64channel_targetsconda-forge_maincross_target_platformlinux-64target_machinex86_64
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-x86_64:alma9
      ? linux_64_centos_machinex86_64channel_targetsconda-forge_sysroot-with-cryptcross_target_platformlinux-64target_machinex86_64
      : CONFIG: linux_64_centos_machinex86_64channel_targetsconda-forge_sysroot-with-cryptcross_target_platformlinux-64target_machinex86_64
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-x86_64:alma9
  timeoutInMinutes: 360
  variables: {}

  steps:
  # configure qemu binfmt-misc running.  This allows us to run docker containers
  # embedded qemu-static
  - script: |
      docker run --rm --privileged multiarch/qemu-user-static:register --reset --credential yes
      ls /proc/sys/fs/binfmt_misc/
    condition: not(startsWith(variables['CONFIG'], 'linux_64'))
    displayName: Configure binfmt_misc

  - script: |
        export CI=azure
        export flow_run_id=azure_$(Build.BuildNumber).$(System.JobAttempt)
        export remote_url=$(Build.Repository.Uri)
        export sha=$(Build.SourceVersion)
        export GIT_BRANCH=$BUILD_SOURCEBRANCHNAME
        export FEEDSTOCK_NAME=$(basename ${BUILD_REPOSITORY_NAME})
        if [[ "${BUILD_REASON:-}" == "PullRequest" ]]; then
          export IS_PR_BUILD="True"
        else
          export IS_PR_BUILD="False"
        fi
        .scripts/run_docker_build.sh
    displayName: Run docker build
    env:
      BINSTAR_TOKEN: $(BINSTAR_TOKEN)
      FEEDSTOCK_TOKEN: $(FEEDSTOCK_TOKEN)
      STAGING_BINSTAR_TOKEN: $(STAGING_BINSTAR_TOKEN)